@import "tailwindcss";

@keyframes spini {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }

}*{
  scroll-behavior: smooth;
}

div::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar {
    display: none;
}



.mm {
  /* 'linear' ensures the speed never changes */
  animation: move 1s linear infinite;
}

@keyframes reveal-info {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-reveal {
  animation: reveal-info 0.8s ease-out forwards;
}

.clip-circle {
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 1.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.clip-circle-open {
  clip-path: circle(150% at 50% 50%);
}


@keyframes open{
  from{
    transform: translateY(100px);
  }
  to{
        transform: translateY(0px);

  }
}